footer
{

    grid-column: 1 / 2;
    grid-row: 7 / 8;
    background-image: url('https://previews.123rf.com/images/iulias/iulias1412/iulias141200676/34627317-retro-background-avec-de-vieux-texture-grunge-avec-diff%C3%A9rents-mod%C3%A8les-de-couleur-gris-noir-blanc.jpg') ;
    background-size:cover;
    background-repeat:no-repeat;
    z-index: -1;
     
}

.fa-facebook
{ font-size: 3em;
    padding: 3rem;
    
}  

.fa-twitter-square
{ font-size: 3rem; 
    padding: 2rem;
 }
 //footer prestation//
 
 .footer-prestation{

    background-image: url('https://previews.123rf.com/images/iulias/iulias1412/iulias141200676/34627317-retro-background-avec-de-vieux-texture-grunge-avec-diff%C3%A9rents-mod%C3%A8les-de-couleur-gris-noir-blanc.jpg') ;
    background-size:cover;
    background-repeat:no-repeat;
    z-index: -1; 
     
 }
 /*footer contact*/

 .footer-contact{

    background-image: url('https://previews.123rf.com/images/iulias/iulias1412/iulias141200676/34627317-retro-background-avec-de-vieux-texture-grunge-avec-diff%C3%A9rents-mod%C3%A8les-de-couleur-gris-noir-blanc.jpg') ;
    background-size:cover;
    background-repeat:no-repeat;
    z-index: -1; 
 }
 