.nav__img{
   
   grid-column: 1 / 2;
   grid-row: 2 / 3;
    
    background-image: url(https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fdeco.2Fmaison-pratique.2Fpierre-blanche-recettes-mode-emploi-maison-propre-49942.2F14963139-1-fre-FR.2Fpierre-blanche-recettes-et-mode-d-emploi-pour-une-maison-propre.2Ejpg/748x372/quality/90/crop-from/center/pierre-blanche-recettes-et-mode-d-emploi-pour-une-maison-propre.jpeg) ;
   
    background-size:cover;
    background-repeat:no-repeat;  
     

}
.nav-menu
{
padding: 15rem;
text-align: center;
font-size: 2rem;
margin: 4rem;
}

@media only screen and (min-width : 3OOpx) {
    .nav-menu{
        font-size:120%;  }
    }
    /* Styles pour cette Media Queries */
    